{% extends 'base/base.html' %}

{% block content %}



<style>
.d-flex{
  background:Transparent !important;
}
</style>


<h1 class="text-center"; style="color:#FFF";>Sign up</h1>
<div id="content-main" class="d-flex justify-content-center">

  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-secondary">Sign up</button>
  <button type="submit" class="btn" backgroundcolor="#4281A4">  <a href="{% url 'account:login' %}">Or
    Log in </a></button>
  </form>
</div>

{% endblock %}
