{% extends 'base.html' %}

{% block content %}

<style>
.d-flex{
  background:Transparent !important;
}
</style>


  <h1 class="text-center"; style="color:#FFF";>Log in to My Site</h1>
  {% block conntent_main %}
  <div id="content-main" class="d-flex justify-content-center">
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post" >
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit" class="btn btn-secondary">Log in</button>
  <button type="submit" class="btn" backgroundcolor="#4281A4">  <a href={% url 'account:resign' %}>Or
    Sign up </a></button>




  </form>
  <div>
  {% endblock conntent_main%}
{% endblock %}
