
body {
background: #eceff1;
}
nav {

  box-shadow: 0px 0px 10px 3px rgba(182,182,182,0.5);


  background-color: #FFF !important;
}
.content {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
  -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);

  margin-top: 40px;
  background-color: #FFF !important;
}


#content-main{
  margin-bottom: 30px;
  margin-top: 50px;
}
.site-header {
  height: 200px;
  background-color: #FFF;
  margin-bottom: 20px;
  margin-top: 20px;
  box-shadow: 0px 16px 32px 1px rgba(182,182,182,0.5);
}
